{{#entry}}
    <ul class="list-group">
        <li class="list-group-item section">
            <div class=" grid_1_of_2">{{#addone}}{{@index}}{{/addone}}</div>
            <div class=" grid_2_of_2">
                <p>{{user.email}}</p>
                <p>Started: {{startDate}}</p>
                <p>Finished: {{finishDate}}</p>
            </div>
            <div class="grid3">
                <div class="counter">{{bagCount}}</div>
                <div class="bags">Bags</div>
            </div>
        </li>
    </ul>
{{/entry}}
